<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCx_5324eRvVRpSuwpfu6-Onn7J_jfULp8</string>
	<key>GCM_SENDER_ID</key>
	<string>1096098840890</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hessenApp</string>
	<key>PROJECT_ID</key>
	<string>agriculture-19109</string>
	<key>STORAGE_BUCKET</key>
	<string>agriculture-19109.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1096098840890:ios:55dc831acfc2e0597f5003</string>
</dict>
</plist>